.m-faculty {
  z-index: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: start;
  flex-direction: column;
  min-height: scale(150);
  height: 100%;
  padding: scale(12);
  background-color: var(--a-color_grey_20);
  border-radius: scale(16);
  transition: var(--transition);

  @include desktop(min) {
    min-height: scale(252);
    padding: scale(24);
  }

  &__wrap {
    position: relative;

    &:hover {

      .m-faculty {
        color: var(--a-color_white);
        background-color: var(--a-color_red);
      }

      .m-faculty__image:after {
        background-color: var(--a-color_red);
      }
  
      .m-faculty__image img {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }

      .m-faculty__count {
        color: var(--a-color_white);
      }

      .a-tag {
        border-color: var(--a-color_white);
      }
  
      .a-tag--fill {
        color: var(--a-color_red);
        background-color: var(--a-color_white);
      }

      .a-btn--primary {
        background-color: var(--a-color_dark);

        &:hover {
          background-color: var(--a-color_grey_dark);
        }
      }
    }
  }

  &__button {
    position: absolute;
    bottom: scale(12);
    left: scale(12);
    z-index: 1;
    min-width: scale(130);

    @include desktop(min) {
      bottom: scale(24);
      left: scale(24);
      min-width: scale(140);
    }
  }

  &__count {
    margin-top: scale(4);
    color: var(--a-color_grey_80);

    @include desktop(min) {
      margin-top: scale(12);
    }
  }

  .a-tag {
    transition: 0s;
  }

  &__tags {
    display: inline-grid;
    gap: scale(8);
    grid-auto-flow: column;
    margin-top: auto;
  }

  &__image {
    z-index: -1;
    position: absolute;
    top: auto;
    right: scale(12);
    bottom: scale(12);
    width: scale(28);
    height: scale(28);

    @include desktop(min) {
      right: scale(12);
      bottom: scale(12);
      width: scale(100);
      height: scale(100);
    }

    img, svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top left;
    }
    img:first-child {
      @include desktop(min) {
        display: none;
      }
    }
    img:last-child {
      display: none;
      @include desktop(min) {
        display: block;
      }
    }

    &:after {
      @include desktop(min) {
        content: '';
        position: absolute;
        left: scale(-183);
        top: scale(119);
        width: scale(402);
        height: scale(123);
        opacity: 0.5;
        background-color: var(--a-color_grey_40);
        filter: blur(40px);
      }
    }
  }
}
