.m-switcher {
  &__btns {
    display: flex;
    flex-wrap: nowrap;
    height: scale(40);
    border-radius: scale(8);
    background-color: var(--a-color_white);
    @include desktop(min) {
      height: scale(48);
      border-radius: scale(12);
    }
  }

  &__btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    border-radius: scale(8);
    cursor: pointer;
    @include desktop(min) {
      border-radius: scale(12);
    }
    &._is-active {
      background-color: var(--a-color_dark);
      color: var(--a-color_white);
      cursor: default;
    }
    &:not(._is-active):hover {
      color: var(--a-color_grey_80);
    }
  }
}
