.m-nav-contacts {
  display: grid;
  gap: scale(12);
  align-items: start;
  grid-template-columns: 1fr;

  @include tablet(min, $p_md) {
    row-gap: scale(24);
    column-gap: scale(32);
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    row-gap: scale(14);
    column-gap: scale(68);
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__title {
    margin-top: scale(8);

    @include tablet(min, $p_md) {
      margin-top: scale(0);
    }
  }

  &__section {
    display: grid;
    gap: scale(12);

    &:nth-child(1),
    &:nth-child(2) {
      .m-nav-contacts__title {
        display: none;

        @include tablet(min, $p_md) {
          display: block;
        }
      }
    }

    @include tablet(min, $p_md) {
      &:nth-child(4) {
        grid-column: 2;
        grid-row: 1;
      }
    }

    @include desktop {
      gap: scale(23);

      &:nth-child(3) {
        grid-column: 3;
        grid-row: 2;
      }

      &:nth-child(1) {
        grid-row: 1/3;

        .m-nav-contacts__section-wrap {
          max-width: scale(325);
        }
      }
    }

    &-wrap {
      display: grid;
      gap: scale(4);

      @include tablet {
        gap: scale(8);
      }
    }
  }

  &__address {
    span:first-child {
      color: var(--a-color_red);
    }
  }

  .m-phones {
    display: grid !important;
    gap: scale(4);

    @include tablet(min, $p_md) {
      gap: scale(23);
    }

    @include desktop {
      gap: scale(14);
    }
  }

  :deep() {
    .m-phones__link {
      margin: 0;
    }
  }

  & .m-nav-contacts__schedule {
    display: flex;
    align-items: center;
    max-width: scale(180);
    width: 100%;
    margin-top: scale(4);

    @include tablet(min, $p_md) {
      max-width: scale(143);
      margin-top: scale(0);
    }

    @include desktop {
      max-width: scale(190);
    }

    span {
      white-space: nowrap;
    }
    span:first-child {
      width: scale(90);
      @include tablet(min) {
        width: scale(58);
      }
      @include desktop() {
        width: scale(80);
      }
    }
  }
}
