.a-menu-link-third {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: scale(10);
  &.--gray {
    color: #7d7d7d;

    &:hover {
      color: var(--a-color_dark);
    }

    &.--active {
      background-color: var(--a-color_grey_20);
      border-radius: scale(40);
      color: var(--a-color_dark);
    }
  }
}
