.s-courses-lms {
  :deep() {
    .swiper {
      overflow: visible;
    }
  }

  @include desktop(min) {
    padding-top: scale(50);
    padding-bottom: scale(50);
    margin: scale(40) 0;
    background-color: var(--a-color_grey_20);
    border-radius: scale(28);
  }

  .ico-mono-simple-rune {
    top: 0;
    right: 0;
    position: absolute;
    width: scale(60);
    height: scale(60);
    color: var(--a-color_red);

    @include desktop(min) {
      top: scale(12);
      right: scale(4);
      width: scale(78);
      height: scale(78);
    }
  }

  .a-tag {
    position: absolute;
    right: scale(12);
    bottom: scale(12);

    @include desktop(min) {
      right: auto;
      bottom: auto;
      left: scale(20);
      top: scale(20);
    }
  }

  &__wrap {
    display: grid;
    gap: scale(8);
    margin-bottom: scale(8);

    @include desktop(min) {
      gap: scale(20);
      grid-template-columns: 1fr 1fr;
      margin-bottom: scale(20);
    }
  }

  &__banner {
    position: relative;
    height: scale(216);
    border-radius: scale(16);
    overflow: hidden;

    @include tablet(min) {
      height: scale(360);
    }

    @include desktop(min) {
      height: auto;
    }
  }
  .swiper-slide {
    width: scale(280);
    height: auto;
    padding: var(--padding_def);
    background-color: var(--a-color_white);
    border-radius: scale(16);
    display: flex;
    flex-direction: column;
    min-height: scale(116);

    @include desktop() {
      min-height: scale(202);
    }

    .s-why-us__card {
      &-title {
        margin: 0 0 scale(12);
      }

      &-bottom {
        display: flex;
        align-items: center;
        margin: auto 0 0;
        justify-content: flex-end;
      }
    }

    @include desktop(min) {
      width: scale(600);
    }
  }
}
