.s-school-work-filters {
  &__body {
    display: flex;
    flex-direction: column;
    gap: scale(40);
    margin-top: scale(50);

    @include tablet(max) {
      margin-top: scale(36);
      gap: scale(16);
    }

    @include tablet(max) {
      gap: scale(28);
    }
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    gap: scale(12);

    @include tablet(max) {
      gap: scale(8);
    }
  }

  &__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: scale(40);
    padding: scale(8) scale(16);
    font-size: scale(19);
    font-weight: 600;
    line-height: 100%;
    border-radius: scale(12);
    border: 1px solid var(--a-color_grey_60);
    transition: border 0.3s, background-color 0.3s, color 0.3s;

    @include desktop(min) {
      cursor: pointer;

      &:hover {
        border-color: var(--a-color_black);
      }
    }

    &.active {
      background-color: var(--a-color_black);
      border-color: var(--a-color_black);
      color: var(--a-color_white);

      .s-school-work-filters__count {
        background-color: var(--a-color_red);
      }

      .s-school-work-filters__all {
        color: var(--a-color_white);
      }
    }

    @include tablet(max) {
      padding: scale(4) scale(6);
      gap: scale(8);
      font-size: scale(14);
      border-radius: scale(8);
    }
  }

  &__count {
    background-color: var(--a-color_grey_40);
    border-radius: scale(8);
    font-size: scale(16);
    padding: scale(6) scale(16);
    transition: background-color 0.3s;

    @include tablet(max) {
      padding: scale(2) scale(7);
      font-size: scale(13);
    }
  }

  &__all {
    width: scale(22);
    height: scale(22);
    color: var(--a-color_red);

    @include tablet(max) {
      width: scale(15);
      height: scale(15);
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: scale(20);

    @include tablet(max) {
      gap: scale(8);
    }
  }

  &__more {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: scale(20) scale(40);
    border-radius: scale(80);
    font-size: scale(16);
    font-weight: 600;
    border: none;
    background-color: var(--a-color_grey_40);
    transition: background-color 0.3s;

    @include desktop(min) {
      cursor: pointer;

      &:hover {
        background-color: var(--a-color_grey_20);
      }
    }
  }
}
