.s-dodemba-expectations {

  &__scroll-wrapper {
    margin-top: scale(48);

    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;

    @include tablet(max) {
      overflow-x: scroll;
      margin-top: scale(24);
    }
  }

  &__body {
    display: flex;
    gap: scale(20);

    @include tablet(max) {
      gap: scale(8);
      width: fit-content;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100%/4 - scale(60)/3);
    height: scale(228);
    position: relative;
    padding: scale(24);
    border-radius: scale(16);
    overflow: hidden;

    @include tablet(max) {
      padding: scale(14);
      width: scale(259);
      height: scale(134);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
  }

  &__top {
    position: relative;
    z-index: 1;
    font-size: scale(26);
    font-weight: 600;
    line-height: 120%;
    color: var(--a-color_white);

    @include tablet(max) {
      font-size: scale(17);
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &__number {
    font-size: scale(28);
    font-weight: 600;
    line-height: 120%;
    color: var(--a-color_grey_80);

    @include tablet(max) {
      font-size: scale(17);
    }
  }

  &__icon {
    width: scale(56);
    height: scale(36);

    @include tablet(max) {
      width: scale(32);
      height: scale(21);
    }
  }
}
