header {
  padding-bottom: scale(100);

  @include desktop(min) {
    padding-bottom: scale(80);
  }
}

.s-header {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  z-index: indexes("header");
  max-height: 100vh;

  @include extra() {
    max-width: var(--layout-width);
    margin: 0 auto;
  }

  :deep() {
    .a-logo {
      @include mobile() {
        width: scale(26);
        height: scale(26);
      }
    }
  }

  &__wrapper {
    padding: calc(var(--scale) * 8) var(--layout-h-padding);
    display: flex;
    flex-direction: column;
    gap: scale(16);
    background-color: var(--a-color_grey_10);

    @include desktop() {
      padding-top: scale(12);
      padding-bottom: scale(12);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    gap: scale(12);

    @include desktop() {
      gap: 0;
    }

    &__program {
      @include tablet() {
        display: none;
      }

      @include desktop() {
        margin-left: scale(4);
      }
    }

    &__nav {
      display: none;

      @include desktop() {
        display: flex;
        gap: scale(4);
        margin-left: scale(16);
      }
    }
  }

  &__phones {
    display: flex;
    gap: scale(16);
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;

    a {
      white-space: nowrap;
      display: none;
      transition: var(--transition);

      &:hover {
        color: var(--a-color_red);
      }

      @include desktop {
        display: block;
      }
    }

    .a-btn {
      flex: none;
      display: flex;
      width: scale(32);
      height: scale(32);
      padding: 0;
      border-radius: 50%;
      background-color: var(--a-color_grey_40);
      transition: var(--transition);

      @include desktop {
        display: none;
      }

      &:hover {
        background-color: var(--a-color_white);
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__nav {
    display: flex;
    gap: scale(4);
    overflow: auto;
    margin: 0 scale(-12);
    padding: 0 scale(12);

    @include desktop() {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
      opacity: 0;
      height: 0;
      width: 0;
    }

    &__program {
      display: none;
      @include tablet() {
        display: block;
      }
    }
  }
}
