.s-adv-university {
  :deep() {
    .swiper {
      overflow: visible;
    }
    .swiper-wrapper {
      @include desktop(min) {
        display: grid;
        gap: scale(20);
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .swiper-slide {
      height: auto;
      width: scale(220);
      min-height: scale(100);

      @include tablet(min) {
        width: scale(320);
      }

      @include desktop(min) {
        width: 100%;
        min-height: scale(220);
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: scale(12);
    border-radius: scale(16);
    background-color: var(--a-color_grey_40);

    @include desktop(min) {
      padding: scale(24);
    }

    &:hover {
      background-color: var(--a-color_white);
    }
  }

  &__num {
    position: absolute;
    left: auto;
    top: auto;
    right: scale(8);
    bottom: scale(8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: scale(22);
    height: scale(22);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='none' viewBox='0 0 36 36'%3e%3cpath fill='%23ED131C' d='M17.634.799a1.04 1.04 0 0 1 1.505 0l2.139 2.267a1.04 1.04 0 0 0 1.13.252l2.934-1.137a1.029 1.029 0 0 1 1.356.638l.92 2.949c.123.395.483.676.905.705l3.15.219c.596.041 1.03.572.938 1.149l-.482 3.046a.991.991 0 0 0 .503 1.02l2.74 1.531c.519.29.673.951.335 1.432l-1.789 2.54a.98.98 0 0 0 0 1.132l1.789 2.54a.986.986 0 0 1-.335 1.433l-2.74 1.532a.991.991 0 0 0-.503 1.019l.482 3.047c.091.576-.342 1.107-.938 1.148l-3.15.22c-.422.028-.782.309-.905.704l-.92 2.95c-.174.558-.8.852-1.355.637l-2.935-1.137a1.04 1.04 0 0 0-1.13.252l-2.139 2.267c-.405.43-1.1.43-1.505 0l-2.139-2.267a1.04 1.04 0 0 0-1.13-.252l-2.934 1.137a1.029 1.029 0 0 1-1.356-.637l-.92-2.95a1.018 1.018 0 0 0-.905-.705l-3.15-.219c-.596-.041-1.029-.572-.938-1.148l.483-3.047a.991.991 0 0 0-.503-1.02l-2.74-1.53a.986.986 0 0 1-.335-1.433l1.788-2.54a.98.98 0 0 0 0-1.132l-1.788-2.54a.985.985 0 0 1 .335-1.433l2.74-1.532a.991.991 0 0 0 .503-1.019l-.483-3.046c-.091-.577.342-1.108.939-1.149l3.149-.219c.422-.03.783-.31.906-.705l.92-2.95c.173-.558.8-.852 1.355-.637l2.935 1.137a1.04 1.04 0 0 0 1.13-.252L17.633.8Z'/%3e%3c/svg%3e");
    background-size: 100%;
    color: var(--a-color_white);

    @include desktop(min) {
      right: scale(20);
      bottom: scale(20);
      width: scale(35);
      height: scale(35);
    }
  }
}
