.s-thanks-banner-express-cards {
  &__list-title {
    margin-bottom: scale(12);

    @include desktop {
      margin-bottom: scale(16);
    }
  }

  &__list {
    gap: scale(7);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__card {
    padding: scale(8);
    background: var(--a-color_grey_10);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: scale(12);

    @include desktop {
      gap: scale(16);
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(40px);
      -webkit-backdrop-filter: blur(40px);
      padding: scale(12);
    }

    @include mobile {
      flex-direction: column-reverse;
      gap: scale(12);
    }

    &-number {
      background-color: var(--a-color_red);
      border-radius: 50%;
      align-self: end;
      width: scale(22);
      height: scale(22);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--a-color_white);

      @include desktop {
        width: scale(24);
        height: scale(24);
      }

      @include mobile {
        align-self: flex-start;
      }
    }
  }
}