.s-cols {
  &__main {
    display: grid;
    gap: scale(20);
    margin: 0 0 scale(12);

    @include desktop(min) {
      display: flex;
      flex-direction: column;
    }

    & > * {
      min-width: 0;
    }
  }

  &__top {
    display: grid;
    gap: scale(20);

    @include desktop(min) {
      display: grid;
      gap: scale(30);
    }
  }

  &__aside {
    @include desktop(min) {
      grid-row: 1 / 3;
    }
  }

  &__bottom {
    display: grid;
    gap: scale(32);
    margin: 0;
    @include desktop(min) {
      display: grid;
      gap: scale(30);
      margin: 0;
    }
  }
}
