.s-certificate-work {
  overflow: hidden;

  .fw500 {
    font-weight: 500;
  }

  @include mobile(max) {
    padding-right: 0;
    padding-left: 0;
  }

  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: scale(24);
    border-radius: scale(16);
    overflow: hidden;

    @include tablet(max) {
      padding: scale(20) scale(16) scale(16) scale(16);
      gap: scale(12);
    }

    @include mobile(max) {
      flex-direction: column;
      gap: scale(17);
      padding: scale(20) scale(12) scale(12) scale(12);
    }
  }

  &__text-info,
  &__price-info {
    position: relative;
    z-index: 1;
  }

  &__text-info {
    width: 100%;
  }

  &__title {
    font-size: scale(64);
    font-weight: 600;
    line-height: 1em;
    letter-spacing: scale(-2);

    @include tablet(max) {
      font-size: scale(26);
    }
  }

  &__subtitle {
    font-size: scale(38);
    font-weight: 600;
    line-height: 1em;
    margin-top: scale(107);

    @include tablet(max) {
      font-size: scale(19);
      margin-top: scale(24);
    }

    @include mobile(max) {
      margin-top: scale(32);
    }
  }

  &__tags {
    display: flex;
    gap: scale(14);
    margin-top: scale(15);

    @include tablet(max) {
      margin-top: scale(12);
      gap: scale(4);
      flex-wrap: wrap;
    }

    @include mobile(max) {
      margin-top: scale(24);
    }
  }

  &__tag {
    width: fit-content;
    white-space: nowrap;
    padding: scale(10) scale(16);
    font-size: scale(19);
    font-weight: 500;
    line-height: 1.2em;
    background: var(--a-color_grey_10);
    border-radius: scale(8);

    @include tablet(max) {
      padding: scale(8) scale(16);
      font-size: scale(13);
    }
  }

  &__price-info {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: scale(20);

    @include tablet(max) {
      flex-direction: column;
      gap: scale(8);
    }
  }

  &__price {
    width: scale(285);
    height: scale(302);
    border-radius: scale(15);
    background: var(--a-color_white);
    padding: scale(23) scale(25) 0 scale(25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:last-child {
      .s-certificate-work__bottom {
        text-decoration-line: none;
        color: var(--a-color_black);
      }
    }

    @include tablet(max) {
      width: scale(336);
      height: scale(70);
      padding: scale(8);
      flex-direction: row;
      align-items: end;
      border-radius: scale(12);
    }
  }

  &__top {
    display: flex;
    gap: scale(30);

    @include tablet(max) {
      flex-direction: column-reverse;
      justify-content: space-between;
      height: 100%;
      gap: 0;
    }
  }

  &__label {
    font-size: scale(26);
    font-weight: 600;
    line-height: 1.2em;

    @include tablet(max) {
      font-size: scale(14);
    }
  }

  &__icon {
    width: scale(40);
    height: scale(40);
    flex-shrink: 0;

    @include tablet(max) {
      width: scale(20);
      height: scale(20);
    }
  }

  &__bottom {
    font-size: scale(57);
    font-weight: 600;
    line-height: 1.2em;
    text-decoration-line: line-through;
    color: var( --a-color_grey_60);

    @include tablet(max) {
      font-size: scale(30);
      line-height: 1em;
    }

    @include mobile(max) {
      color: var( --a-color_grey_80);
    }
  }

  &__tablet-button {
    display: none !important;

    @include tablet(max) {
      display: inline-flex !important;
      width: 100%;
      margin-top: scale(12);
    }

    @include mobile(max) {
      display: none !important;
    }
  }

  &__ruble {
    position: relative;

    &:after {
      content: '';
      width: 29%;
      height: 7%;
      background-color: currentColor;
      position: absolute;
      left: -7%;
      top: 51%;
    }

    &:before {
      content: '';
      width: 67%;
      height: 5%;
      background-color: currentColor;
      position: absolute;
      left: -7%;
      top: 63%;
    }
  }
}
