:deep() {
  .swiper-wrapper {
    @include mobile {
      display: grid;
      gap: scale(8);
      grid-template-columns: 1fr 1fr;
    }
  }
}

.s-emba-program {
  &__item {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: scale(78);
    padding: var(--padding_def);
    padding-right: scale(40);
    color: var(--a-color_white);
    background-color: var(--a-color_dark);
    border-radius: scale(16);

     @include mobile {
      &:last-child:nth-child(odd) {
        grid-column: 1/3;
      }
     }

    @include tablet(min) {
      max-width: scale(164);
    }

    @include desktop {
      max-width: scale(349);
      min-height: scale(132);
      padding-right: scale(150);
    }

    img {
      top: 50%;
      right: scale(10);
      position: absolute;
      transform: translateY(-50%);
      z-index: -1;
      height: 90%;
      width: auto;
    }
  }

  &__item-title {
    margin-top: auto;
  }

  &__item-num {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: scale(12);
    right: scale(12);
    width: scale(28);
    height: scale(28);
    color: var(--a-color_white);
    background-color: var(--a-color_red);
    border-radius: 50%;

    @include desktop {
      width: scale(36);
      height: scale(36);
    }
  }
}