:deep() {
  .l-section__inner {
    padding: var(--padding_def);
    background-color: var(--a-color_white);
    border-radius: scale(16);
  }

  .l-section__title {
    margin-bottom: scale(16);

    @include desktop {
      max-width: 90%;
      margin-bottom: scale(24);
    }
  }
}

.disclaimer {
  &__content {
    display: grid;
    gap: scale(12);
    margin-bottom: scale(24);

    @include desktop {
      gap: scale(20);
      margin-bottom: scale(40);
    }
  }

  &__contacts {
    display: grid;
    gap: var(--gap_def);
    margin-top: scale(16);

    @include tablet(min) {
      grid-template-columns: 1fr 1fr;
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: scale(24);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: scale(100);
    padding: var(--padding_def);
    background-color: var(--a-color_grey_10);
    border-radius: scale(16);

    @include tablet {
      &:last-child:nth-child(odd) {
        grid-column: 1/3;
      }
    }

    @include desktop {
      min-height: scale(180);
    }

    a {
      &:hover {
        border-color: var(--a-color_grey_60);
      }
    }

    .a-tag {
      width: 100%;
      text-align: center;
    }
  }
}