.m-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--a-color_white);

  &__title {
    margin-bottom: scale(20);

    @include desktop {
      margin-bottom: scale(32);
    }
  }

  &__subtitle {
    margin-bottom: scale(20);

    @include desktop(min) {
      margin-bottom: scale(32);
    }
  }

  &__content {
    display: grid;
    gap: scale(12);
    margin: 0 0 scale(32);

    @include desktop {
      gap: scale(20);
      margin: 0 0 scale(24);
    }
  }

  &__call {
    display: flex;
    row-gap: scale(24);
    flex-wrap: wrap;
    align-items: center;
    margin: scale(20) 0 scale(32);

    @include desktop {
      margin: scale(24) 0 auto;
    }
  }

  &__call span {
    margin-right: auto;
  }

  &__call-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: scale(48);

    @include desktop {
      gap: scale(64);
      margin-right: scale(64);
    }
  }

  &__bottom {
    display: grid;
    gap: scale(16);

    @include tablet(min) {
      margin-top: auto;
    }
  }

  &__privacy {
    padding-left: scale(24);

    a {
      transition: var(--transition);
    }
  }
  &__content {
    .tooltip {
      margin: 0;
      margin-left: 8px;
      color: white;
      background: #000;
      border-radius: 50%;
      width: 16px;
      display: flex;
      justify-content: center;
    }
  }
  
  //- bg-colors
  &--bgColor-transparent {
    background-color: transparent;
  }

  &--bgColor-grey_40,
  &--bgColor-grey_20,
  &--bgColor-grey_10 {
    .a-input {
      background-color: var(--a-color_white);
    }
    .a-chekbox__label.--radio::before {
      border-color: var(--a-color_white);
      background-color: var(--a-color_white);
    }
    .a-chekbox__label::before {
      background-color: var(--a-color_white);
    }
  }
  &--bgColor-grey_10 {
    background-color: var(--a-color_grey_10);
  }
  &--bgColor-grey_20 {
    background-color: var(--a-color_grey_20);
  }
  &--bgColor-grey_40 {
    background-color: var(--a-color_grey_40);
  }

  &--bgColor-red {
    color: var(--a-color_white);
    background-color: var(--a-color_red);

    .a-btn {
      background-color: var(--a-color_dark);

      &:hover {
        background-color: var(--a-color_grey_dark);
      }
    }

    .m-form__privacy a:hover {
      color: var(--a-color_grey_dark);
    }
  }

  &--min {
    overflow: hidden;
    z-index: 1;
    position: relative;
    padding: scale(12);
    border-radius: scale(16);
    margin: 0 scale(-12);

    .a-input {
      background-color: var(--a-color_white);
      @include desktop(min) {
        height: scale(60);
      }
    }

    .m-form {
      &__title {
        margin-bottom: scale(8);

        &:not(:has(+.m-form__subtitle)) {
          margin-bottom: scale(20);
          @include desktop(min) {
            margin-bottom: scale(24);
          }
        }
      }

      &__content,
      &__subtitle {
        margin-bottom: scale(20);
      }

      &__logo {
        z-index: -1;
        position: absolute;
        top: scale(17);
        right: scale(12);
        width: scale(100);
        height: scale(100);
        object-fit: cover;
        object-position: left;
      }
    }

    @include tablet(min) {
      padding: scale(16);
      margin: 0 scale(-20);

      .m-form__logo {
        object-fit: contain;
        object-position: center;
        top: scale(20);
        right: scale(20);
        width: scale(408);
        height: scale(83);
      }
    }

    @include desktop(min) {
      padding: scale(24);
      margin: 0;

      .m-form {
        &__content {
          display: grid;
          gap: scale(20);
          display: flex;
          margin-bottom: scale(24);
          & > * {flex: 1}
        }

        &__subtitle {
          margin-bottom: scale(24);
        }

        &__logo {
          top: scale(35);
          right: scale(33);
          width: scale(1045);
          height: scale(213);
        }
      }
    }
  }
}
