.a-card-check {
  display: inline-block;
  width: scale(28);
  height: scale(28);
  color: var(--a-color_white);
  background-color: var(--a-color_red);
  border-radius: 50%;
  box-shadow: scale(-15) 0 0 var(--a-color_grey_20);

  @include desktop(min) {
    width: scale(36);
    height: scale(36);
    box-shadow: scale(-20) 0 0 var(--a-color_grey_20);
  }

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
