.s-license {
  &__slider {
    overflow: visible;

    &.--dark {
      color: var(--a-color_white);

      .s-license__slide {
        background-color: var(--a-color_grey_dark);
      }
    }

    .swiper {
      overflow: visible;
      &-slide {
        width: scale(280);
        height: auto;

        @include desktop() {
          width: calc((100% - var(--gap_def) * 2) / 3);
        }
      }
    }
  }

  &__slide {
    overflow: hidden;
    cursor: pointer;
    gap: scale(12);
    display: flex;
    justify-content: space-between;
    padding: var(--padding_def);
    border-radius: var(--border-radius_def);
    background-color: var(--a-color_white);

    @include desktop {
      gap: scale(32);
    }

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
    }

    &-img {
      flex: none;
      width: scale(94);
      height: scale(108);
      transition: var(--transition);
      @include desktop() {
        width: scale(238);
        height: scale(272);
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom right;
      }
    }
    &:hover &-img {
      opacity: 0.6;
    }
  }
}
