.error {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  @include mobile() {
    padding: 0;
  }

  :deep() {
    .l-section__inner {
      z-index: 1;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      min-height: scale(500);
      padding: scale(241) scale(24) scale(15);
      text-align: center;
      background-color: var(--a-color_grey_40);
      border-radius: scale(16);

      @include tablet(min) {
        padding: scale(12);
        min-height: scale(300);
        text-align: left;
      }

      @include desktop(min) {
        padding: scale(24);
        min-height: scale(483);
      }
    }

    .l-section__title {
      margin-top: auto;
      margin-bottom: scale(8);

      @include tablet(min) {
        margin-top: 0;
        margin-bottom: auto;
      }

      @include desktop(min) {
        margin-bottom: scale(16);
      }
    }
  }

  &__subtitle {
    margin-bottom: scale(24);

    @include tablet(min) {
      max-width: scale(340);
      margin-bottom: scale(12);
    }

    @include desktop(min) {
      max-width: scale(731);
      margin-bottom: auto;
    }
  }

  .a-btn {
    width: 100%;

    @include tablet(min) {
      width: scale(175);
    }

    @include desktop(min) {
      width: scale(210);
    }
  }

  picture {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
