.s-ratings {
  &__slider {
    overflow: visible;
    position: relative;
    .swiper {
      overflow: visible;
    }
    &.--dark {
      .swiper-navigation button {
        color: var(--a-color_white);
        background-color: var(--a-color_grey_100);
      }
    }

    .swiper {
      &-slide {
        overflow: hidden;
        width: scale(280);
        height: auto;
        border-radius: scale(16);

        @include desktop {
          width: scale(700);
        }
      }
    }

    .swiper-navigation {
      @include desktop {
        top: scale(-90);
      }
    }
  }

  &__slide {
    height: 100%;

    min-height: scale(180);

    @include desktop {
      min-height: scale(320);
    }

    :deep() {
      .m-rating-card__name {
        max-width: scale(170);

        @include desktop() {
          max-width: scale(400);
        }
      }

      .m-rating-card__image {
        @include tablet() {
          width: calc(var(--scale) * 102);
          height: calc(var(--scale) * 82);
          bottom: scale(5);
          right: scale(5);
        }

        @include mobile() {
          width: calc(var(--scale) * 102);
          height: calc(var(--scale) * 82);
          bottom: scale(5);
        }
      }
    }
  }
}
