.ether_banner {
  padding-top: 0;
  padding-bottom: 0;

  &__wrap {
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
    background-color: var(--a-color_grey_20);
    border-radius: scale(16);
    margin: 0 scale(-12);

    @include desktop(min) {
      margin: 0;
      min-height: scale(500);
    }
  }

  picture {
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;

    @include desktop(min) {
      position: absolute;
      inset: 0;
    }

    img {
      display: block;
      width: 100%;
      height: auto;

      @include desktop(min) { 
        height: 100%;
        object-fit: contain;
        object-position: center right;
      }

    }
  }

  &__desc {
    display: grid;
    z-index: 1;
    left: 0;
    top: scale(12);
    position: absolute;
    width: 100%;
    text-align: center;

    @include desktop(min) {

      position: static;
      text-align: left;
      padding: var(--padding_def);
      display: flex;
      flex-direction: column;
      max-width: scale(1000);
    }
  }

  &__title {
    margin-top: scale(4);
    margin-bottom: scale(12);
    font-weight: 900;

    @include desktop(min) {
      margin-top: scale(12);
      margin-bottom: auto;
    }
  }

  .a-btn {
    position: absolute;
    bottom: var(--padding_def);
    left: var(--padding_def);
    right: var(--padding_def);

    @include desktop(min) {
      max-width: scale(394);
    }
  }

  .s-download-app-new__dod {
    &-tags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: scale(6);
      margin-bottom: scale(18);
  
      @include tablet(max) {
        justify-content: center;
      }
  
      @include desktop(min) {
        gap: scale(8);
        margin-bottom: scale(22);
      }
    }
  
    &-tag {
      display: flex;
      align-items: center;
      gap: scale(6);
      line-height: 1;
      min-height: scale(23);
      padding: scale(3) scale(9);
      background-color: var(--a-color_white);
      border: 1px solid var(--a-color_red);
      border-radius: scale(19);
      white-space: nowrap;
  
      @include desktop(min) {
        min-height: scale(31);
        gap: scale(8);
        padding: scale(8) scale(12);
      }
  
      svg {
        min-width: scale(10);
        max-width: scale(10);
        height: auto;
  
        @include desktop(min) {
          min-width: scale(20);
          max-width: scale(20);
        }
      }
    }
  }
}
