.s-job-articles {

  &__slider {
    position: relative;
  }

  .swiper {
    overflow: visible;
  }

  .swiper-scrollbar {
    position: relative;
  }

  .swiper-slide {
    width: scale(320);
    height: auto;
    @include desktop {
      width: scale(445);
    }
  }
  :deep() {
    .m-article-card__link {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .m-article-card__img {
      position: relative;
      height: scale(172);
      @include desktop {
        height: scale(220);
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-color: var(--a-color_grey_20);
        mix-blend-mode: saturation;
        transition: var(--transition);
      }
    }
    .m-article-card:hover .m-article-card__img:after {
      background-color: var(--a-color_red_dark);
      mix-blend-mode: multiply;
    }

    .m-article-card__wrap {
      min-height: scale(154);
      @include desktop {
        min-height: scale(242);
        padding: scale(24);
      }
    }

    .m-article-card__title {
      margin: 0 0 scale(16);
    }

    .a-tag {
      margin: 0 0 scale(12);
    }
  }
}