.intro-practice {
  z-index: 1;
  position: relative;
  padding-top: scale(254);

  @include tablet() {
    padding-top: scale(12);
  }
  
  @include desktop(min) {
    padding-top: scale(64);
  }

  :deep() {
    .m-breadcrumbs {
      position: absolute;
      top: scale(24);
      left: scale(40);

      &__link--last {
        color: var(--a-color_grey_80);
      }
    }

    .l-section__title {
      @include mobile() {
        text-align: center;
      }
    }
  }


  &__img {
    z-index: -1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top right;
  }

  &__form {
    z-index: 1;
    position: relative;
    border-radius: scale(16);
    overflow: hidden;
    background-color: var(--a-color_white);
    padding: var(--padding_def);

    @include tablet() {
      margin-top: scale(81);
    }

    @include desktop(min) {
      margin-top: scale(142);
      padding: scale(36) var(--padding_def);
    }

    img {
      display: none;
      z-index: -1;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include desktop(min) {
        display: block;
      }
    }

    :deep() {
      .m-quiz-form {
        margin-top: scale(12);

        @include tablet() {
          &__header {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }

          .a-input, .a-btn {
            width: 100%;
            max-width: 100% !important;
          }
        }

        @include tablet(min) {
          margin-top: scale(16);

          &__header {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
        }

        @include desktop(min) {
          margin-top: scale(24);
          background-color: transparent;

          &__header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: scale(1103);
          }
        }

        &__privacy .a-chekbox__label {
          color: var(--a-color_dark);
        }
      }
    }
  }

  &__title-form {
    @include tablet() {
      max-width: 90%; 
    }

    @include desktop(min) {
      max-width: scale(1205);
    }
  }
}