.ratings {
  &__about {
    &-wrap {
      display: grid;
      gap: var(--gap_def);

      @include tablet(min) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-desc {
      display: flex;
      flex-direction: column;
      gap: var(--gap_def);
      justify-content: space-between;
      padding: var(--padding_def);
      background-color: var(--a-color_white);
      border-radius: scale(16);
    }

    &-img {
      order: -1;
      overflow: hidden;
      border-radius: scale(16);

      @include desktop(min) {
        order: 1;
      }
    }
  }
}