.ico-aside-army {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-blank {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-book {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-books {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-briefcase {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-calc {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-desktop {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-discount {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-ege {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-gear_people {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-hat {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-help {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-instruments {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-lamp {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-lightning {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-medicine {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-megaphone {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-menu {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-message {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-monitor {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-oge {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-other {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-rocket {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-schedule {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-sound {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-star {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-sun-moon {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
.ico-aside-video {
  width: 1em;
  height: 1em;
  fill: #FF0A47;
}
