.ico-mono-arr-back {
  width: 0.67em;
  height: 1em;
  fill: initial;
}
.ico-mono-arr-go {
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.ico-mono-arr-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-arrow_outward {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.ico-mono-asterisk {
  width: 1em;
  height: 1em;
  fill: #ED131C;
}
.ico-mono-cap {
  width: 1.42em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-checked {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
.ico-mono-chevron-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-eye {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.ico-mono-faculty_1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-faculty_2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-faculty_3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-faculty_4 {
  width: 0.92em;
  height: 1em;
  fill: #ED131C;
}
.ico-mono-faculty_5 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-faculty_all {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-info {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-lightning {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-like {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-loupe-outline {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-phone-outline {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-pin {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.ico-mono-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-present {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.ico-mono-profession_1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-profession_2 {
  width: 1em;
  height: 1em;
  fill: #ED131C;
}
.ico-mono-profession_3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-profession_4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-profession_5 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-profession_6 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-profession_7 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-profession_8 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-rub {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-25 {
  width: 0.98em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-simple-arr-down {
  width: 1em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-simple-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-bag {
  width: 1em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-simple-bag2 {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-book {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-calendar-anytime {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-calendar {
  width: 0.98em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-simple-catalog {
  width: 1em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-simple-catalog2 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-simple-chat {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-cleaning {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-cooking {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-diamond {
  width: 1.02em;
  height: 1em;
  fill: #fff;
}
.ico-mono-simple-fork-knife {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-simple-globus {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-simple-group {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-growth-chart {
  width: 0.98em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-simple-happy {
  width: 1em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-simple-hat {
  width: 1em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-simple-home {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-man-bust {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-papers {
  width: 0.98em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-simple-PC {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-placemark-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-placemark-dot {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-mono-simple-placemark {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-premium {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-question {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-rune {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-safety {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-schedule {
  width: 1em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-simple-smile {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-sport {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-star {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-catalog {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-star2 {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-stars {
  width: 1.02em;
  height: 1em;
  fill: #ED131C;
}
.ico-mono-simple-train {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-mono-simple-university {
  width: 1em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-simple-wallet {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-wi-fi {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-simple-world {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-slider-arr-left {
  width: 0.64em;
  height: 1em;
  fill: initial;
}
.ico-mono-slider-arr-right {
  width: 0.64em;
  height: 1em;
  fill: initial;
}
.ico-mono-social-telegram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-social-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-social-whatsapp {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-social-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-stack {
  width: 1em;
  height: 1em;
  fill: #1C1C1C;
}
.ico-mono-star {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.ico-mono-training_13169 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-training_13170 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-training_13171 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-training_13172 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-training_13173 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-training_20641 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
