.s-contacts {
  :deep() {
    .m-form__content {
      margin-bottom: scale(16);

      @include desktop(min) {
        margin-bottom: scale(20);
      }
    }

    .m-form__title {
      margin-bottom: scale(8);
    }

    .m-form__subtitle {
       @include desktop(min) {
        margin-bottom: scale(24);
       }
    }

    textarea {
      min-height: scale(80);

      @include desktop(min) {
        min-height: scale(118);
      }
    }
  }
  .a-btn--more {
    width: 100%;

    @include tablet {
      max-width: scale(235);
    }

    @include desktop(min) {
      max-width: scale(420);
    }
  }

  &__wrap {
    display: grid;
    gap: var(--gap_def);

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include desktop(min) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    
    @include tablet {
      &:last-child {
        grid-column: 1/3;
      }
    }
  }

  &__item-content {
    display: grid;
    gap: scale(8);
    margin-top: auto;

    @include desktop(min) {
      gap: scale(12);
    }
  }

  & &__item--form {
    background-color: var(--a-color_red);
  }

  &__item-phones {
    display: grid;
    gap: scale(8);

    @include desktop(min) {
      display: flex;
    }
  }

  .a-tag {
    align-self: center;

    &:hover {
      border-color: var(--a-color_grey_60);
    }
  }

  &__item-title {
    margin-bottom: scale(40);
    @include desktop(min) {
      margin-bottom: scale(20);
    }
  }

  &__item-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: scale(8);

    &-title:has(+ .s-contacts__item-phones) {
      @include desktop(max) {
        align-self: start;
        padding-top: scale(6);
      }
    }
  }

  &__timeline {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: scale(4);
    
    @include desktop(min) {
      gap: scale(8);
    }

  }
}

.contact-timeline {
  text-align: center;

  &__wrap {
    display: flex;
    align-items: center;
    height: scale(170);
    margin-bottom: scale(8);
    padding: scale(15) 0;
    background-color: var(--a-color_grey_40);
    border-radius: scale(12);

    .contact-timeline.--short &{
      padding: scale(35) 0;

      @include tablet(min) {
        padding: scale(37) 0;
      }
    }

    @include tablet(min) {
      height: scale(214);
      padding: scale(17) 0;
    }
  }

  &__line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: scale(8) 0;
    color: var(--a-color_white);
    background-color: var(--a-color_dark);
    border-radius: scale(12);
  }
}