.s-intro {
  min-width: 0;
  border-radius: scale(16);
  margin: 0 calc(-1 * var(--layout-h-padding));
  background-color: var(--a-color_white);

  @include desktop(min) {
    padding: 0 !important;
  }
  @include tablet() {
    padding: var(--layout-h-padding);
  }
  @include desktop() {
    overflow: visible;
    margin: 0;
  }

  .m-breadcrumbs {
    position: relative;
    margin: 0;
    margin-right: calc(-1 * var(--layout-h-padding));
    padding: 0;
    padding-right: var(--layout-h-padding);
    @include desktop() {
      margin: 0 scale(-24);
      padding: 0 scale(24);
    }

    &__link--last,
    a:hover {
      color: var(--a-color_grey_dark);
    }
  }

  &__inner {
    gap: scale(24);
    display: flex;
    flex-direction: column;
  }

  &__top {
    gap: scale(12);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop() {
      gap: scale(24);
    }
  }

  &__date {
    gap: scale(12);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--a-color_grey_100);
    flex-shrink: 0;
    svg {
      width: scale(24);
      height: scale(24);
    }

    @include desktop() {
      margin-left: auto;
    }
  }

  &__author {
    grid-column: 1;
    gap: 0 scale(12);
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: scale(6);
    padding-right: scale(12);
    border-radius: scale(40);
    background-color: var(--a-color_grey_20);

    img {
      grid-row: span 2;
      width: scale(24);
      height: scale(24);
      margin: auto 0;
      border-radius: 50%;
      @include desktop() {
        width: scale(32);
        height: scale(32);
      }
    }
    img.--default {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--a-color_red);
      color: var(--a-color_white);
    }
    span {
      grid-column: 2;
    }
    &-label {
      color: var(--a-color_grey_100);
    }

    svg {
      grid-column: 3;
      grid-row: 1/3;
      align-self: center;
      width: scale(24);
      height: scale(24);
      transition: var(--transition);
    }
    &:hover svg {
      color: var(--a-color_red);
    }
  }

  &__descr {
    margin: scale(16) 0 0;

    @include desktop() {
      margin: scale(25) 0 0;
    }
  }

  &__img {
    overflow: hidden;
    display: block;
    width: 100%;
    height: auto;
    border-radius: scale(16);

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    gap: scale(16);
    display: grid;
    grid-template-columns: 1fr auto;
    @include tablet(min) {
      gap: scale(40);
      display: flex;
      align-items: center;
    }
  }

  &__share {
    grid-column: -1;
    align-self: end;
  }
}
