.s-article {
  overflow: hidden;
  gap: scale(20);
  display: grid;
  align-items: start;
  padding: scale(24) var(--layout-h-padding);
  border-radius: var(--border-radius_def);
  background-color: var(--a-color_white);
  margin: 0 calc(-1 * var(--layout-h-padding));
  @include tablet(min) {
    margin: 0;
  }
  @include desktop() {
    overflow: visible;
    gap: 0 scale(124);
    grid-template-columns: 1fr;
    padding: 0;
  }

  &__content {
    min-width: 0;
    @include desktop() {
      line-height: 1.5;
    }
    :deep() {
      img {
        overflow: hidden;
        display: block;
        width: 100%;
        height: auto;
        border: rem(1) solid var(--a-color_grey_40);
        border-radius: scale(16);
        box-shadow: 4px 4px 35.2px 0px rgba(126, 127, 129, 0.29);

        @include default-margin;

        @include reset-margin();

        @include desktop() {
          margin: scale(60) 0;
        }
      }

      .s-programs-list {
        padding-left: 0;
        padding-right: 0;
        overflow: visible;
        .s-programs-list__inner {
          @include desktop() {
            grid-template-columns: repeat(2, 1fr);
          }
        }

        .m-help-choose-card {
          @include desktop() {
            width: initial;
          }

          div,
          button {
            z-index: 1;
          }

          picture {
            z-index: 0;
          }

          img {
            margin: 0;
          }
        }

        .specialty-card {
          @include desktop() {
            min-height: scale(334);
          }
        }

        .m-level-filter__cards .swiper {
          @include desktop() {
            overflow: hidden;
          }
        }

        .m-programs-tags {
          width: initial;
          padding-left: initial;
          margin-left: initial;
        }

        .a-uikit-select__list {
          overflow-y: auto;
        }
        .m-help-choose-card {
          box-shadow: 0px 3px 7.1px 0px rgba(0, 0, 0, 0.06);
        }
      }

      .s-faq {
        padding-left: 0;
        padding-right: 0;
        .m-accordion.--open {
          background-color: var(--a-color_grey_10);
        }
      }

      .s-article__anchor {
        position: relative;
        top: scale(-120);
      }
    }
  }

  &__right {
    display: none;

    @include desktop() {
      position: sticky;
      top: calc(var(--headerArticlesHeight) + #{scale(30)});
      display: block;
    }
  }

  :deep() {
    h2:not([class*="a-font_"]),
    h3:not([class*="a-font_"]) {
      font-size: scale(24);
      line-height: 1.2;
      @include default-margin;
      @include desktop() {
        margin: scale(32) 0;
        font-size: scale(48);
        line-height: 1.1;
      }
    }

    h3:not([class*="a-font_"]) {
      margin: scale(24) 0 scale(16);
      @include desktop() {
        margin: scale(40) 0 scale(16);
        font-size: scale(38);
      }
    }

    h4:not([class*="a-font_"]) {
      margin: scale(16) 0;
      @include desktop() {
        margin: scale(16) 0 scale(24);
      }
    }

    h5:not([class*="a-font_"]) {
      margin: scale(16) 0 scale(12);
      @include desktop() {
        margin: scale(40) 0 scale(12);
      }
    }

    h6:not([class*="a-font_"]) {
      font-size: scale(17);
      font-weight: 600;
      margin: scale(16) 0 scale(12);
      @include desktop() {
        font-size: scale(23);
        line-height: 1.3;
      }
    }

    p, div.s-article__content-item {
      margin: scale(12) 0;
      @include desktop() {
        margin: scale(24) 0;
      }
    }

    p:first-child {
      margin-top: 0;
    }

    h2 + p,
    h3 + p,
    h4 + p,
    h5 + p,
    h6 + p {
      margin-top: 0;
    }

    p a,
    ul a {
      text-decoration: underline;
      color: var(--a-color_grey_80);
      transition: var(--transition);
      &:hover {
        text-decoration: none;
      }
    }

    ul,
    ol {
      display: grid;
      margin: scale(12) 0;
      list-style: none;

      @include desktop() {
        margin: scale(24) 0;
      }

      @include reset-margin();

      & > li {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          display: block;
        }
      }
    }

    ul {
      gap: scale(8);
      ul:nth-child(n) {
        margin: scale(8) 0 0;
      }
      li {
        padding-left: scale(24);

        &:before {
          top: scale(4);
          left: 0;
          width: scale(8);
          height: scale(8);
          border-radius: scale(2);
          background-color: var(--a-color_red);
        }

        @include desktop() {
          &:before {
            top: scale(10);
          }
          & > li:before {
            top: scale(5);
          }
        }
      }
    }

    ol {
      gap: scale(16);
      counter-reset: item;

      ol:nth-child(n) {
        margin: scale(16) 0 0;
      }

      @include desktop() {
        margin-left: scale(24);
      }

      & > li {
        counter-increment: item;
        padding-left: scale(20);
        @include desktop() {
          padding-left: scale(32);
        }

        &::before {
          content: counter(item) ".";
          top: 0;
          left: 0;
          margin-right: scale(8);
          font-weight: bold;
          color: var(--a-color_red);
        }
      }

      ol {
        counter-reset: subitem;

        & > li {
          padding-left: scale(32);
          counter-increment: subitem;
          &::before {
            content: counter(item) "." counter(subitem) ".";
            font-weight: bold;
            color: var(--a-color_red);
          }
        }
      }
    }

    table {
      font-size: scale(18);

      @include default-margin;
      @include reset-margin();

      thead {
        position: sticky;
        top: 0;
        z-index: 1;
        box-shadow:
          0 scale(3) 0 scale(-1) var(--a-color_red_dark),
          0 scale(-2) 0 var(--a-color_grey_8);
        td {
          font-weight: bold;
        }
      }
      tr.--colored {
        background-color: var(--a-color_grey_10);
      }
      tr.--bordered {
        border-bottom: scale(2) solid var(--a-color_red_dark);
      }
      td {
        min-height: scale(64);
        padding: scale(16) scale(16);
        vertical-align: top;
      }
    }

    iframe {
      width: 100%;
      height: auto;
      border: 0;
      aspect-ratio: 16 / 9;

      @include default-margin;

      @include reset-margin();
    }

    .--hint {
      position: relative;
      border-bottom: rem(1) dashed;
      text-decoration: none;
      color: var(--a-color_grey_80);
      cursor: pointer;
      transition: var(--transition);

      &:after {
        content: attr(data-title);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        height: fit-content;
        width: fit-content;
        min-width: scale(164);
        margin: scale(4) auto;
        padding: scale(8);
        border-radius: scale(5);
        box-shadow: 2px 3px 14.2px 0px rgba(0, 0, 0, 0.15);
        background-color: var(--a-color_white);
        font-size: scale(12);
        line-height: 1.2;
        opacity: 0;
      }
      &.--p-right:after {
        left: auto;
        right: 0;
      }
      &.--p-left:after {
        left: 0;
        right: auto;
      }
      &.--p-top:after {
        top: 100%;
        bottom: auto;
      }
      &.--p-bottom:after {
        top: auto;
        bottom: 100%;
      }
      &.--p-full:after {
        left: 0;
        top: auto;
        bottom: 100%;
        right: auto;
      }

      &:hover:after {
        z-index: 1;
        opacity: 1;
      }
    }

    .swiper-scrollbar.swiper-scrollbar-horizontal {
      @include desktop() {
        margin-top: scale(24);
      }
    }

    .flex-imgs {
      @include tablet(min) {
        display: flex;
        flex-wrap: wrap;
        gap: rem(8);
        margin: rem(8) 0;
      }
      @include desktop() {
        gap: rem(16);
        margin: rem(24) 0;
      }
      img {
        @include tablet(min) {
          flex: 1;
          object-fit: cover;
          width: auto;
          height: auto;
          margin: 0;
        }
      }
    }
  }
}

.s-article-banners.--mobile {
  display: none;
  @include tablet(max) {
    display: block;
  }
}

.image-container {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10000;
}

.zoomable-image {
  will-change: transform;
  width: 100%;
  height: auto;
  transform-origin: top center;
  border-radius: scale(12);
  overflow: hidden;
  transition: transform;
}

:deep() {
  .m-breadcrumbs__link--last {
    color: var(--a-color_grey_dark);
  }

  .s-article-banners.--large {
    .s-article-banners__space {
      @include desktop() {
        height: 100vh;
        display: block;
      }
    }
  }

  .s-article-banners {
    .m-form.--large {
      display: grid;
      gap: scale(8);
      padding: scale(12);
      padding-top: 0;
      background-color: var(--a-color_white);
      border-radius: scale(16);
      transition: opacity var(--transition);
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }

      @include desktop() {
        height: min-content;
        position: sticky;
        top: var(--headerArticlesHeight);
        gap: scale(12);
        padding: scale(24);

        .m-form__content {
          display: flex !important;
          flex-direction: column;
        }
      }

      .a-btn {
        width: 100%;

        @include desktop(min) {
          min-height: scale(50);
        }
      }

      picture {
        display: block;
        width: 100%;
        height: auto;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .s-form-min {
    padding: 0 !important;
  }

  .m-form {
    &__content {
      @include desktop() {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
      }

      .a-btn {
        @include desktop() {
          grid-column: -1 / 1;
        }
      }
    }
  }
  .s-download-app-new {
    padding: 0 !important;
    border-radius: scale(8);

    &__grid {
      @include tablet(min) {
        grid-template-columns: 1fr !important;
        max-width: scale(365);
        margin: 0 auto;
      }
      @include desktop {
        max-width: unset;
      }
      .s-download-app-new__programs {
        display: none;
      }
    }
  }

  .s-article-address {
    img {
      border: none;
      box-shadow: initial;
      border-radius: initial;
    }
  }

  .s-faq {
    ol {
      margin-left: 0;
      li {
        &::before {
          content: counter(item) "." !important;
          color: initial !important;
          background-color: initial !important;
        }
      }
    }

    ul {
      li {
        &::before {
          top: initial !important;
        }
      }
    }

    li {
      p {
        margin: 0;
      }
    }
  }

  .s-banner-link {
    min-height: scale(85);

    @include desktop() {
      min-height: scale(165);
    }
    img {
      margin: 0 !important;
      height: 100% !important;
    }
  }
}
