.s-seo-distant-platform {
  overflow: hidden;
  margin: 0 var(--layout-h-padding) var(--layout-v-padding);
  padding: scale(12);
  border-radius: scale(16);
  background: #{__cdnUrl('synergy-api/uploads/content/s-seo-distant-platform/bg-sm.webp')} no-repeat center;
  background-size: cover;
  color: var(--a-color_white);

  @include tablet(min) {
    background-image: #{__cdnUrl('synergy-api/uploads/content/s-seo-distant-platform/bg-md.webp')};
  }

  @include desktop {
    padding: scale(24);
    background-image: #{__cdnUrl('synergy-api/uploads/content/s-seo-distant-platform/bg-lg.webp')};
  }

  &__inner {
    position: relative;
    min-height: scale(344);
    display: flex;
    flex-direction: column;
    @include tablet(min) {
      min-height: scale(216);
    }
    @include desktop {
      min-height: scale(260);
    }
  }

  &__title {
    font-size: scale(26);
    line-height: 1.1;
    @include mobile(max) {
      max-width: scale(240);
    }
    @include desktop {
      font-size: scale(86);
      letter-spacing: -0.02em;
      line-height: 1;
    }
    :deep(span) {
      display: inline-block;
      padding: 0 scale(8);
      border-radius: scale(4);
      background-color: var(--a-color_red);
      @include desktop {
        margin-left: scale(8);
        padding: 0 scale(20) scale(8);
        border-radius: scale(20);
      }
    }
  }

  &__text {
    margin: scale(12) 0 auto;
    @include tablet(min) {
      margin: scale(8) 0 auto;
    }
  }

  &__bottom {
    margin: auto 0 0;
    @include desktop {
      display: flex;
      align-items: center;
    }
  }

  &__platforms {
    display: flex;
    align-items: center;
    gap: scale(8);
    @include mobile(max) {
      position: absolute;
      left: auto;
      top: 0;
      right: 0;
      span { display: none }
    }
    @include desktop {
      gap: scale(12);
    }
    span {
      margin-left: scale(4);
      font-size: scale(13);
      font-weight: 600;
      line-height: 1.2;
      @include desktop {
        margin-left: 0;
        font-size: scale(23);
      }
    }
    img {
      width: scale(32);
      height: scale(32);
      @include desktop {
        width: scale(42);
        height: scale(42);
      }
    }
  }

  .a-btn {
    width: 100%;
    @include tablet(min) {
      width: scale(312);
      margin: scale(12) 0 0;
    }
    @include desktop {
      order: -1;
      width: scale(412);
      margin: 0;
      margin-right: scale(38);
    }
  }
}