.form-feedback {
  display: none;
  width: 100%;
  padding: scale(12);
  max-width: scale(736);
  background-color: var(--a-color_grey_10);
  border-radius: scale(16);

  @include desktop {
    width: 100%;
    padding: scale(24) scale(24) scale(20);
    max-width: scale(910);
  }

  .m-modal-wrapper & { display: block }

  :deep() {
    .m-card-text {
      padding: scale(12);

      @include desktop {
        padding: scale(11) scale(20) scale(16);
      }

      &__title {
        margin-bottom: scale(21);
      }

      &__text {
        order: 3;
        margin-top: scale(12);

        @include desktop {
          margin-top: scale(19);
        }
      }
    }

    .a-input {
      background-color: var(--a-color_white);
    }

    select option:first-child {
      display: inline-block !important;
    }
  }

  :deep() {
    textarea {
      height: scale(160);

      @include desktop {
        height: scale(200);
      }
    }
  }

  &__wrap {
    display: grid;
    gap: scale(12);

    @include tablet(min, $p_md) {
      grid-template-columns: 1fr 1fr;

      .m-card-text {
        grid-row: 1/7;
      }

      :deep() {
        textarea {
          grid-column: 1/3;
        }
      }
    }
  }

  &__bottom {
    display: grid;
    gap: scale(12);
    margin-top: scale(32);

    @include tablet(min, $p_md) {
      grid-column: 1/3;
    }

    @include tablet {
      margin-top: scale(24);
    }

    @include desktop {
      gap: scale(16);
      margin-top: scale(40);
    }
  }

  [type="submit"][disabled] {
    cursor: not-allowed !important;
    opacity: 0.5;
  }
}
