.s-main-banner {
  position: relative;
  margin: 0 calc(-1 * var(--layout-h-padding));
  border-radius: scale(12);
  transition: var(--transition);

  &:hover { transform: #{"scale(1.01)"} }

  @include tablet(min) {
    margin: 0;
  }

  @include desktop() {
    margin: scale(20) 0 0;
    border-radius: scale(16);
  }

  picture {
    display: block;
    width: 100%;
    height: auto;
  }

  img { display: block }

  .a-btn {
    position: absolute;
    left: auto;
    top: 0;
    right: scale(12);
    bottom: 0;
    margin: auto 0;
    @include tablet(max) {
      max-height: scale(32);
      padding: 0 scale(10);
      font-size: scale(10);
      line-height: 1.3;
    }
    @include desktop() {
      right: scale(20);
      min-width: scale(178);
    }
  }
}

