.s-main {
  @include desktop() {
    display: grid;
    gap: 0 scale(20);
    align-items: start;
    grid-template-columns: 1fr auto;
    padding-bottom: scale(40);
  }
}

.mediacenter-page {
  padding: scale(20) var(--layout-h-padding);
  margin: 0 scale(-12);
  background-color: var(--a-color_white);
  border-radius: scale(16);

  @include tablet(min) {
    margin: 0 scale(-16);
  }

  @include desktop(min) {
    padding: scale(24);
    margin: 0;
  }

  &.--pending {
    opacity: 0.3;
    pointer-events: none;
  }

  &__title {
    margin-bottom: scale(16);

    @include desktop(min) {
      margin-bottom: scale(32);
    }
  }

  &__subtitle {
    margin-bottom: scale(16);

    @include desktop(min) {
      margin-bottom: scale(32);
    }
  }

  &__container {
    display: grid;
    gap: var(--gap_def);

    @include tablet(min) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  :deep() {
    .--more-btn {
      display: flex !important;
      margin: scale(24) auto 0;
      min-width: scale(226);

      @include desktop(min) {
        margin-top: scale(40);
        min-width: scale(290);
      }
    }
  }
}

:deep() {
  .m-news {
    padding: 0 var(--layout-h-padding);
    @include desktop(min) {
      position: sticky;
      top: var(--headerArticlesHeight);
      grid-row: 1/3;
      grid-column: 2;
      display: grid;
      width: scale(363);
      min-width: 0;
      height: auto;
      margin: 0;
      padding: 0;
    }

    @include tablet(max) {
      margin-top: scale(20);
    }
  }
}
