.s-ege-teachers {
  &__body {
    display: flex;
    gap: scale(20);
    width: 100%;
    min-height: scale(536);

    @include tablet(max) {
      flex-direction: column;
      min-height: auto;
      gap: scale(10);
    }
  }

  &__left,
  &__right {
    position: relative;
    overflow: hidden;
    width: calc(100% - scale(10));
    background-color: var(--a-color_white);
    border-radius: scale(16);
  }

  &__left {
    padding: scale(24);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet(max) {
      padding: scale(12);
      width: 100%;
    }
  }

  &__title {
    max-width: 90%;

    @include tablet(max) {
      max-width: 100%;
    }
  }

  &__subtitle {
    @include tablet(max) {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;

    @include tablet(max) {
      margin-top: scale(24);
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: scale(24);
    max-width: scale(790);

    ul {
      display: flex;
      flex-direction: column;
      gap: scale(12);

      @include tablet(max) {
        gap: scale(8);
      }

      li {
        position: relative;
        padding-left: scale(20);

        &::before {
          content: '';
          width: scale(8);
          height: scale(8);
          position: absolute;
          left: 0;
          top: scale(8);
          background-color: var(--a-color_red);
          border-radius: scale(2);
        }
      }
    }
  }

  &__icon {
    width: scale(48);
    height: scale(48);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--a-color_grey_20);

    svg {
      width: scale(32);
      height: scale(32);
    }

    @include tablet(max) {
      display: none;
    }
  }

  &__right {
    @include tablet(max) {
      width: 100%;
      height: scale(197);
    }

    img {
      object-position: center bottom;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
