.s-mba-document {
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: scale(396);
    width: 100%;
    position: relative;
    border-radius: scale(16);
    color: var(--a-color_white);
    padding: scale(24);

    @include tablet(max) {
      height: scale(260);
      padding: scale(12);
    }

    @include mobile(max) {
      height: scale(420);
    }
  }

  &__title {
    position: relative;
    z-index: 1;
  }

  &__description {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: scale(961);
  }
}
