.s-mti-map {

  &__icon {
    width: scale(28) !important;
    height: scale(17) !important;
    flex-shrink: 0;
  }

  &__widget {
    position: relative;
    margin: scale(8) 0 0;
    @include tablet(min) {
      margin: scale(20) 0 0;
    }
  }

  &__map {
    overflow: hidden;
    width: auto;
    height: scale(294);
    margin: 0 calc(-1 * var(--layout-h-padding));
    background-color: var(--a-color_grey_40);
    @include tablet(min) {
      height: scale(412);
      margin: 0;
      border-radius: scale(16) scale(16) 0 0;
    }
    @include desktop() {
      height: scale(525);
      margin: 0;
      border-radius: scale(16);
    }
  }
  &.--notinited &__map {
    display: none;
  }
  &.--inited &__map {
    display: block;
  }

  &__branches {
    padding: scale(8) var(--layout-h-padding) scale(12);
    background-color: var(--a-color_grey_20);

    :deep() {
      .--notinited & .swiper-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: scale(8);
      }
    }

    &.swiper-initialized {
      margin: 0 calc(-1 * var(--layout-h-padding));
    }

    @include tablet(min) {
      backdrop-filter: blur(22px);
      :deep() {
        .--notinited & .swiper-wrapper {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
    @include desktop() {
      position: relative;
      width: 100%;
      :deep() {
        .--notinited & .swiper-wrapper {
          grid-template-columns: repeat(4, 1fr);
        }
      }

      &.swiper-initialized {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
        width: scale(457);
        padding: scale(12);
        margin: 0;
        padding-right: scale(30);
        border-radius: scale(16) 0 0 scale(16);
        background-color: rgba(var(--a-color_white_rgb), 0.45);
      }
    }

    &.swiper-initialized .swiper-wrapper {
      display: flex;
      gap: 0;
    }

    .swiper-scrollbar-horizontal {
      margin: scale(8) 0 0;
    }
    :deep() {
      .swiper-slide {
        width: scale(308);
        height: auto;
        margin: 0 scale(8) 0 0;

        .--notinited & {
          width: 100%;
          height: 100%;
        }
        @include desktop() {
          width: auto;
          height: fit-content;
          margin: 0 0 scale(8) 0;
        }
      }
    }
  }

  &__branch {
    overflow: hidden;
    display: grid;
    height: 100%;
    padding: scale(12);
    background-color: var(--a-color_grey_40);
    border-radius: scale(6);
    transition: var(--transition);
    @include tablet(min) {
      padding: scale(20) scale(12);
    }
    @include desktop() {
      padding: scale(24);
      border-radius: scale(8);
    }

    &-name {
      margin: 0 0 scale(12);
    }

    &-params {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: scale(8);
      margin: 0 0 scale(8);
    }

    &-param {
      display: flex;
      align-items: center;
      & > span {
        display: flex;
        align-items: center;
        & > * {
          margin: scale(2) 0;
        }
      }
      & > span > *:not(:first-child):before {
        content: "•";
        margin: 0 scale(8);
        font-style: normal;
        text-decoration: none;
        color: var(--a-color_grey_70);
      }
      & a {
        transition: var(--transition);
        &:hover {
          color: var(--a-color_red_dark);
        }
      }
      & > svg {
        flex: none;
        width: scale(16);
        height: scale(16);
        margin: 0 scale(2) 0 scale(-2);
        color: var(--a-color_grey_70);
      }
    }

    &-emails {
      &-additional {
        display: flex;
        flex-direction: column;
        a::before {
          content: "•";
          margin: 0 scale(8);
          font-style: normal;
          text-decoration: none;
          color: var(--a-color_grey_70);
        }
      }
      &-additional::before {
        display: none;
      }
    }

    &-btns {
      display: flex;
      gap: scale(12);
      margin: auto 0 0;
      .a-btn {
        width: 100%;
      }
    }

    &.--notinited &-modal {
      display: none;
    }
  }

  .swiper-slide.--active {
    .s-mti-map__branch {
      background-color: var(--a-color_white);
    }
    .a-btn--third {
      background-color: var(--a-color_grey_40);
      &:hover {
        background-color: var(--a-color_grey_20);
      }
    }
  }
  .swiper-slide:hover .s-regions__branch {
    background-color: var(--a-color_grey_60);
  }
}
