.m-level-filter {
  &__cards {
    .swiper {
      overflow: visible;

      &-slide {
        width: scale(136) !important;
        height: auto;

        @include desktop(min) {
          width: auto;
          min-height: auto;
          flex-basis: content;
        }
      }
    }
    :deep() {
      .swiper-button {
        &-prev,
        &-next {
          display: none;
          z-index: 10;
          position: absolute;
          top: scale(-1);
          height: calc(100% + 2px);
          width: scale(100);
          margin-top: 0;
          display: block;

          @include tablet(min) {
          }
        }

        &-next {
          right: scale(-50);
          background: linear-gradient(
            90deg,
            rgba(236, 237, 240, 0) 27.5%,
            var(--a-color_grey_20) 50%
          );
        }

        &-prev {
          left: scale(-50);
          background: linear-gradient(
            -90deg,
            rgba(236, 237, 240, 0) 27.5%,
            var(--a-color_grey_20) 50%
          );
        }

        &-disabled {
          visibility: hidden;
        }
      }
    }
  }

  &__card {
    z-index: 1;
    position: relative;
    height: 100%;
    padding: scale(12);
    padding-right: scale(30);
    background-color: var(--a-color_grey_20);
    border-radius: var(--border-radius_def);
    transition: var(--transition);

    @include desktop(min) {
      padding: scale(24);
      padding-right: scale(60);
    }

    &-title {
      display: block;
      @include tablet(max) {
        font-size: scale(12);
        line-height: 1.2;
      }
    }

    &:hover,
    &.checked {
      background-color: var(--a-color_red);
      color: var(--a-color_white);
      transform: #{"scale(1.02)"};
    }

    input {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
