.s-courses-program {
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: scale(12);

    @include desktop(min) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: scale(20);
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: var(--padding_def);
    background-color: var(--a-color_white);
    border-radius: scale(16);
    white-space: nowrap;

    @include tablet(min) {
      gap: scale(4);
      display: grid;
      grid-template-columns: auto 1fr auto;
    }

    &.hidden {
      display: none;

      @include desktop(min) {
        display: flex;
      }
    }
  }

  &__item-module {
    color: var(--a-color_grey_80);
  }

  &__item-title {
    white-space: break-spaces;

    @include tablet(min) {
      width: 100%;
    }
  }

  &__item-time {
    grid-column: 2;
    grid-row: 1/3;
    height: min-content;
    width: max-content;
    margin-left: scale(8);
    padding: scale(6) scale(12);
    color: var(--a-color_white);
    background-color: var(--a-color_red);
    border-radius: scale(40);

    @include tablet(min) {
      margin-left: auto;
      grid-row: 1;
      grid-column: 3;
    }

    @include desktop(min) {
      margin-left: scale(20);
    }
  }

  & &__btn {
    display: flex;
    width: scale(290);
    margin: scale(24) auto 0;

    &.hidden {
      display: none;
    }

    @include desktop(min) {
      display: none;
    }
  }
}
