.l-section {
  overflow: hidden;
  padding: var(--layout-v-padding) var(--layout-h-padding);
  border-radius: scale(16);
  @include desktop(min) {
    border-radius: scale(28);
  }

  &.px-0 {
    padding-right: 0;
    padding-left: 0;
  }
  &.py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  &.p-0 {
    padding: 0;
  }
  &.br-0 {
    border-radius: 0;
  }

  &__inner {
    width: 100%;
    @include extra() {
      overflow: hidden;
    }
  }

  &__title {
    margin-bottom: scale(24);

    @include desktop(min, $p_xl) {
      max-width: scale(1470);
      margin-bottom: scale(50);
    }

    h2 {
      display: inline;
    }

    &-nums {
      padding: scale(7) scale(12);
      border-radius: scale(40);
      background-color: var(--a-color_grey_40);
      letter-spacing: 0;
      position: relative;
      bottom: scale(10);
      @include desktop(min) {
        padding: scale(10) scale(20);
        bottom: scale(35);
      }
    }
  }
}
