.s-article-form {
  @include default-margin;

  @include tablet() {
    .m-form--min {
      margin: 0;
    }
  }

  @include desktop() {
    margin: scale(40) 0;
  }

  @include reset-margin();

  :deep() {
    .m-form__title {
      margin: 0 0 scale(12);
      color: var(--a-color_grey_dark);
    }

    .m-form__content {
      @include tablet(min) {
        gap: scale(12);
        display: flex;
        margin-bottom: scale(12);
        .a-btn {
          width: 100%;
        }
      }
    }
  }
}
