.s-internship-partners {
  :deep() {
    .l-section__inner {
      display: grid;
      gap: var(--gap_def);

      @include tablet(min) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &__sliders {
    position: relative;
    display: grid;
    overflow: hidden;
    gap: var(--gap_def);
    min-height: scale(208);

    @include desktop(min) {
      min-height: scale(433);
    }

    &:before,
    &:after {
      top: 0;
      z-index: 10;
      position: absolute;
      display: block;
      height: 100%;

      @include tablet(min) {
        content: '';
        width: scale(64);
      }

      @include desktop(min) {
        width: scale(103);
      }
    }

    &:before {
      left: 0;
      background: linear-gradient(90deg, rgba(245,245,246,1) 0%, rgba(245,245,246,0) 100%);
    }

    &:after {
      right: 0;
      background: linear-gradient(90deg, rgba(245,245,246,0) 0%, rgba(245,245,246,1) 100%);
    }
  }

  &__slider {
    position: relative;
  }
  
  &__item {
    --slide-width: #{scale(160)};
    --slide-gap: var(--gap_def);
    --total-width: calc(var(--slide-width) + var(--slide-gap));
    --speed: calc(5s * var(--slide-count));
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: max(calc(var(--total-width) * (var(--slide-count) - 1)), 100%);
    animation: scrollLeft var(--speed) linear infinite;
    animation-delay: calc(var(--speed) / var(--slide-count) * var(--n) - var(--speed));
    width: var(--slide-width);
    padding: scale(13) scale(10);
    background-color: var(--a-color_grey_20);
    border-radius: scale(12);

    &.--toRight {
      animation-direction: reverse;
    }

    @include desktop(min) {
      --slide-width: #{scale(323)};
      padding: scale(40) scale(59);
      border-radius: scale(16);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      margin: 0 auto;
    }

    @keyframes scrollLeft {
      to {
        left: calc(-1 * var(--total-width));
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: scale(24);
    padding: var(--padding_def);
    background-color: var(--a-color_white);
    border-radius: scale(16);

    @include mobile() {
      order: -1;
    }
  }

  &__info-text {
    display: grid;
    gap: scale(8);
  }
}